@{
    ViewData["Title"] = "Index";
}

<div class="header">
    <div class="logo">INSERT LOGO</div>
    <h1>Application Tracking</h1>
</div>

<div class="details">
    <div class="details-main">
        <h2>Jhon Lloyd Cabarrubias</h2>
        <p>ID: <id></p>
    </div>

    <div class="details-sub">
        <p>JOB NAME</p>
        <p>Job Position</p>
        <p>Status:</p>
        <p>Last Updated:</p>
    </div>
</div>

<div class="button">
    <button class="btn btn-primary">Back</button>
</div>

