@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<header>
    <link rel="stylesheet" href="~/css/homepage.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</header>

<div class="container">
    <div>
        <div class="half-width" style="background-color: #c53211;padding-top:100px; padding-bottom:100px; background-image: url('../img/home-applicant.png'); background-repeat: no-repeat; background-size: cover; color:white;">
            <h2 class="text-center">@Html.Raw("LOOKING FOR A JOB")</h2>
            <div class="text-container">
                @Html.Raw("Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.")
            </div>
            <br />
            <center>
                <button><a class="nav-link text-light" asp-controller="SignUp" asp-action="Index">Apply</a></button>
            </center>
        </div>
    </div>


    <div>
        <div class="half-width" style="background-color: #7ACFD6;padding-top:100px; padding-bottom:100px; background-image: url('../img/home-hr.png'); background-repeat: no-repeat; background-size: cover;">
            <h2 class="text-center">@Html.Raw("MANAGE YOUR JOBS")</h2>
            <div class="text-container">
                @Html.Raw("Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.")
            </div>
            <br />
            <center>
                <button><a class="nav-link text-light" asp-controller="SignUp" asp-action="Index">Apply</a></button>
            </center>
        </div>
    </div>
</div>

<hr />
<div class="container">
    <h2 class="text-center1">Life is not all about work and no play.</h2>
    <br />
    <div class="text-container1">
        Alliance Software, Inc. is a global IT services and solutions company. Alliance was established in 2000 and has since grown to
        become one of the Philippines' largest and most respected independent software development outsourcing company.
    </div>
    <br />
    <div class="photo-container">
        <img src="~/img/building.png" alt="Photo" class="building-img">
    </div>
</div>
<div style="padding:20px;">
    <br />
</div>
<hr />
<div>
    <h4>APPLICATION TRACKING</h4>
    <h5>WANT TO KNOW THE STATUS OF YOUR APPLICATION?</h5>
    <br>
    <form asp-controller="ApplicationTracking" asp-action="Index" id="ApplicationTrackingForm">
        <div style="display: flex; align-items: center;">
            <input type="number" name="ApplicantId" style="width: 70%; text-align: center; padding: 10px;" placeholder="ENTER YOUR ID" />
            <button type="submit" style="width: 30%; background-color: #C53211; color: #FFFFFF; padding: 10px;">
                Track Application
            </button>
        </div>
    </form>
</div>






