@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<header>
    <link rel="stylesheet" href="~/css/homepage.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</header>

<div class="container">
    <div>
        <div class="half-width home-applicant" style="background-image: url('../img/home-applicant.png');">
            <div class="text-home-center home-heading">@Html.Raw("LOOKING FOR A JOB")</div>
            <div class="text-home-container">
                @Html.Raw("Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.")
            </div>
            <br />
            <center>
                <button><a class="nav-link text-light" asp-controller="SignUp" asp-action="Index">Apply</a></button>
            </center>
        </div>
    </div>


    <div>
        <div class="half-width home-HR" style="background-image: url('../img/home-hr.png');">
            <div class="text-home-center home-heading">@Html.Raw("MANAGE YOUR JOBS")</div>
            <div class="text-home-container">
                @Html.Raw("Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.")
            </div>
            <br />
            <center>
                <button><a class="nav-link text-light" asp-controller="SignUp" asp-action="Index">Apply</a></button>
            </center>
        </div>
    </div>
</div>

<hr />
<div class="container">
    <div class="text-home-center1 home-heading">Life is not all about work and no play.</div>
    <br />
    <div class="text-home-container1">
        Alliance Software, Inc. is a global IT services and solutions company. Alliance was established in 2000 and has since grown to
        become one of the Philippines' largest and most respected independent software development outsourcing company.
    </div>
    <br />
    <div class="photo-container">
        <img src="~/img/building.png" alt="Photo" class="building-img">
    </div>
</div>
<div style="padding:20px;">
    <br />
</div>
<hr />
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <!-- Modal content goes here -->
        </div>
    </div>
</div>

<div class="modal-overlay"></div> <!-- Add the modal overlay -->

<div>
    <div class="home-heading-bold">APPLICATION TRACKING</div>
    <div class="home-heading1">WANT TO KNOW THE STATUS OF YOUR APPLICATION?</div>
    <br>
    <form asp-controller="ApplicationTracking" asp-action="Index" id="ApplicationTrackingForm">
        <div style="display: flex; align-items: center;">
            <input type="number" name="ApplicantId" style="width: 70%; text-align: center; padding: 10px;" placeholder="ENTER YOUR ID" />
            <!--<button type="submit" style="width: 30%; background-color: #C53211; color: #FFFFFF; padding: 10px;">-->
            <button type="submit" data-toggle="modal" data-target="#myModal" style="width: 30%; background-color: #C53211; color: #FFFFFF; padding: 10px;">
                Track Application
            </button>
        </div>
    </form>
</div>

<script>
    $(document).ready(function () {
        $('#ApplicationTrackingForm').submit(function (event) {
            event.preventDefault(); // Prevent default form submission

            // Get the form data
            var formData = $(this).serialize();

            // Send the form data to the server using Ajax
            $.ajax({
                url: '/ApplicationTracking/Index',
                type: 'POST',
                data: formData,
                success: function (response) {
                    // Handle the response from the server
                    // Open the modal and display the response
                    $('#myModal .modal-content').html(response);
                    $('#myModal').modal('show');
                    $('#myModal').on('shown.bs.modal', function () {
                        $(this).modal('handleUpdate');
                    });
                },
                error: function () {
                    // Handle the error case
                    alert('Error submitting the form');
                }
            });
        });
    });
</script>





