@{
    ViewData["Title"] = "Job Posting";
    Layout = "~/Views/Shared/_LayoutHR.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job Posting</title>
    <link rel="stylesheet" href="~/css/jobposting.css" asp-append-version="true" />
</head>
<body>
    <header>
        <h1>ADD A NEW JOB</h1>
    </header>
    <main>
        <section class="job-form">
            <div class="form-group">
                <label for="position" class="label-bold">Position:</label>
                <input type="text" id="position" name="position" placeholder="" class="input-large">
            </div>
            <div class="form-group">
                <label for="job-type" class="label-bold">Job Type:</label>
                <input type="text" id="job-type" name="job-type" placeholder="" class="input-large">
            </div>
            <div class="form-group">
                <label for="salary" class="label-bold">Salary:</label>
                <input type="text" id="salary" name="salary" placeholder="" class="input-large">
            </div>
            <div class="form-row">
                <label for="schedule" class="label-bold">Schedule:</label>
            </div>
            <div class="form-row">
                <div class="input-group">
                    <label for="hours" class="small-label">Hours:</label>
                    <input type="text" id="hours" name="hours" placeholder="" class="input-small">
                </div>
                <div class="input-group">
                    <label for="shift" class="small-label">Shift:</label>
                    <select id="shift" name="shift" class="input-small">
                        <option value="morning">Morning</option>
                        <option value="evening">Evening</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="details" class="label-bold">Details:</label>
                <textarea id="details" name="details" placeholder="" class="input-large-details"></textarea>
            </div>
            <div class="button-container">
                <a asp-controller="JobListing" asp-action="Index">
                    <button class="btn">Add Job</button>
                </a>
            </div>
        </section>
    </main>
    <div class="triangle"></div>
    <div class="triangle1"></div>
</body>
</html>