@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<style>
    .custom-table {
        border-radius: 100px; /* Adjust the value as per your preference */
        overflow: hidden;
    }
</style>
<table class="table w-100 ">
    <thead>
        <tr class="table-danger text-center ">
            <th scope="col">Applcicant Name</th>
            <th scope="col">Position</th>
            <th scope="col">Status</th>
            <th scope="col">Last Activity</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr class="text-center">
            <th scope="row">Jimwll Capino</th>
            <td>Software Engineer</td>
            <td>Shortlisted</td>
            <td>06-25-23</td>
            <td>
                <button class="btn btn-secondary">View Profile</button>
                <button class="btn btn-secondary">Update Status</button>
            </td>
        </tr>
        <tr class="text-center">
            <th scope="row">Jimwll Capino</th>
            <td>Software Engineer</td>
            <td>Shortlisted</td>
            <td>06-25-23</td>
            <td>
                <button class="btn btn-secondary">View Profile</button>
                 <button class="btn btn-secondary">Update Status</button>
            </td>
        </tr>
        
    </tbody>
</table>
