@{
    ViewData["Title"] = "[Title] Application Tracking";
    Layout = "~/Views/Shared/_LayoutHR.cshtml";
}
<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="~/css/applicantlist.css" asp-append-version="true" />
</head>
<html>
    <body>
<main><br />
<table class="table py-lg-4 rounded-table">
    <thead>
        <tr class="text-center header" style="color:white;">
            <th scope="col">Applcicant Name</th>
            <th scope="col">Position</th>
            <th scope="col">Status</th>
            <th scope="col">Last Activity</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr class="text-center">
            <th scope="row">John Doe</th>
            <td>Software Engineer</td>
            <td>Shortlisted</td>
            <td>06-25-23</td>
            <td>
                <button class="btn btn-secondary">View Profile</button>
                <button class="btn btn-secondary">Update Status</button>
            </td>
        </tr>
        <tr class="text-center">
            <th scope="row">Juan De La Cruz</th>
            <td>Software Engineer</td>
            <td>Review</td>
            <td>06-25-23</td>
            <td>
                <button class="btn btn-secondary">View Profile</button>
                 <button class="btn btn-secondary">Update Status</button>
            </td>
        </tr>
        <tr class="text-center">
            <th scope="row">Jane Smith</th>
            <td>pancit canton cook</td>
            <td>Rejected</td>
            <td>06-25-23</td>
            <td>
                <button class="btn btn-secondary">View Profile</button>
                <button class="btn btn-secondary">Update Status</button>
            </td>
        </tr>
        <tr class="text-center">
            <th scope="row">Bongbong Marcos</th>
            <td>theif</td>
            <td>Rejected</td>
            <td>06-25-23</td>
            <td>
                <button class="btn btn-secondary">View Profile</button>
                <button class="btn btn-secondary">Update Status</button>
            </td>
        </tr>
        <tr class="text-center">
            <th scope="row">Sarah Duterte</th>
            <td>Boxing champ</td>
            <td>Rejected</td>
            <td>06-25-23</td>
            <td>
                <button class="btn btn-secondary">View Profile</button>
                <button class="btn btn-secondary">Update Status</button>
            </td>
        </tr>
       
    </tbody>
</table>
<div class="triangle"></div>
<div class="small-triangle"> </div>
</main>
</body>
</html>