@using Basecode.Data.ViewModels
@model List<ApplicantListViewModel>

@{
    ViewData["Title"] = "[Title] Application Tracking";
    Layout = "~/Views/Shared/_LayoutHR.cshtml";
}
<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="~/css/applicantlist.css" asp-append-version="true" />
</head>
<html>
    <body>
<main><br />
<table class="table py-lg-4 rounded-table">
    <thead>
        <tr class="text-center header" style="color:white;">
            <th scope="col">Applcicant Name</th>
            <th scope="col">Position</th>
            <th scope="col">Status</th>
            <th scope="col">Last Activity</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var applicant in Model){
            <tr class="text-center">
                <td>@applicant.Firstname @applicant.Lastname</td>
                <td>@applicant.JobApplied</td>
                <td>N/A</td>
                <td>N/A</td>
                <td>
                    
                   <button class="btn btn-secondary">Update Status</button>
                </td>
            </tr>
        }      
    </tbody>
</table>
        <a asp-action="ViewProfile"><button class="btn btn-secondary">View Profile</button></a>
<div class="triangle"></div>
<div class="small-triangle"> </div>
</main>
</body>
</html>