<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Basecode</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Basecode.Main.styles.css" asp-append-version="true" />
</head>
<body>
    <header style="color:black;">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light box-shadow mb-3">
            <div class="container-fluid">
                <span style="padding-right:10px;" >
                    <img src="~/img/asi.png" class="img-fluid rounded" style="width:157px;130px" />
                </span>
                <a style="color:black;" class="navbar-brand" asp-area="" asp-controller="HrHomepage" asp-action="Index">Home</a>
                <a style="color:black; text-align   :right;" class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Log Out</a>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @*
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - Basecode - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>*@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
