<nav class="navbar navbar-light p-5" style="background-color: #FCF5E5;">
    <a class="navbar-brand position-absolute end-0 align-middle" style="bottom:30px" href="#">
        Admin's page
        <img src="~/img/adlogo.png" width="50" height="50" class="d-inline-block align-top rounded-circle bg-light align-middle" alt="">
    </a>
    <a style="color:black;" class="navbar-brand" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" style="border-bottom: 1px solid transparent;"
       onmouseover="this.style.borderBottom = '2px solid #C53211';"
       onmouseout="this.style.borderBottom = '1px solid transparent';">Log Out</a>
</nav> 