.header {
    background-color: #C53211;
    padding: 4px;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #2E3830;
}

.rounded-table {
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

    .rounded-table th,
    .rounded-table td {
        padding: 20px;
    }

.triangle {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 0;
    height: 0;
    border-bottom: 200px solid #c53211;
    border-left: 200px solid transparent;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 10));
}

header {
    background-color: #c53211;
    display: flex;
}