/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #2E3830;
}

/* Form Styles */
form {
    margin: 20px auto;
    border-radius: 15px;
    left: 50%;
    transform: translateX(-50%);
    width: 931px;
    height: 1300px;
    position: absolute;
    align-items: flex-start;
    background-color: rgba(255, 252, 252, 1);
    display: table-column;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

header {
    background-color: #c53211;
    display: flex;
}


h1 {
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
}

h2 {
    text-align: center;
    font-size: 15px;
}

hr {
    border: 4px solid black;
    margin: 0 auto;
    width: 100%;
    margin-bottom: 10px;
}

.triangle {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 0;
    height: 0;
    border-bottom: 200px solid #c53211;
    border-left: 200px solid transparent;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 10));
}

.form-section {
    margin: 20px;
}

.section-title {
    font-weight: bold;
    margin-left: 45px;
}

.section-title1 {
    font-weight: bold;
    font-size: 15px;
    margin-top: 0;
    margin-left: 60px;
}

.section-title2 {
    font-size: 15px;
    font-weight: bold;
    margin-top: 0;
}


label[for="candidate"] {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 15px;
    font-weight: bold;
    width: 700px;
}

.candidate-textarea {
    margin-left: 60px;
    width: 760px;
    height: 120px;
    padding: 5px;
    resize: none;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
}

.input-group label {
    font-size: 12px;
}

.divider {
    border: 1px solid;
    margin: 0 auto;
    width: 90%;
    margin-bottom: 20px;
}

.input-group {
    display: inline-block;
    margin-bottom: 10px;
    margin-left: 60px;
    width: 40%;
}

.input-group1 label {
    margin-left: 60px;
    font-size: 15px;
    font-weight: bold;
}

.text-input {
    width: 95%;
    padding: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
}

.submit-button {
    background-color: #C53211;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    width: 150px;
    right: 100px;
    border-radius: 10px;
}



