/* CSS styles for job listing page */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #2E3830;
}

header {
    background-color: #C53211;
    display: flex;
}

.add-job-container {
    text-align: right;
    margin-bottom: 20px;
}

.add-job-btn {
    background-color: #C53211;
    color: #FFFFFF;
    border: none;
    padding: 6px 12px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 10px;
}

main {
    padding: 20px;
}

.job-listing {
    background-color: #FFFFFF;
    border-radius: 8px;
    padding: 20px;
}

.section-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.search-bar {
    margin-bottom: 20px;
}

#search-job {
    width: 50%;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
}

.job-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.table-header {
    background-color: #C53211;
    color: #FFFFFF;
    font-weight: bold;
    padding: 10px;
}

.table-cell {
    border: 1px solid #CCCCCC;
    padding: 10px;
}

.edit-btn,
.delete-btn {
    background-color: #C53211;
    color: #FFFFFF;
    border: none;
    padding: 4px 8px;
    font-size: 14px;
    cursor: pointer;
    margin-right: 5px;
}

    .edit-btn:hover,
    .delete-btn:hover {
        opacity: 0.8;
    }

.triangle {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 0;
    height: 0;
    border-bottom: 200px solid #c53211;
    border-left: 200px solid transparent;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 10));
}
