.main {
    background-color: #2E3830;
    height: 80vh;
    position: relative;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #969B97;
    background-color: #969B97;
    padding: 10px;
    color: #ffffff;
}

.logo {
    font-weight: bold;
}

.body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin: 50px;
    padding: 30px;
    flex: 1;
}

.details {
    margin-bottom: 10px;
}

.details-main {
    display: flex;
    align-items: center;
}

.btn {
    font-weight: bold;
    font-size: 15px;
    padding: 8px 25px;
    background-color: #C53211;
    color: #ffffff;
    border: 1px solid #000;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: #B2260C;
}

.triangle {
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 0;
    height: 0;
    border-left: 100px solid transparent;
    border-top: 100px solid #C53211;
    transform: rotate(90deg);
}

label {
    display: block;
    font-weight: bold;
    font-size: 25px;
    margin-top: 15px;
    margin-left: 40px;
    margin-bottom: 15px;
}

input[type="text"] {
    width: 250px;
    height: 25px;
    padding: 5px;
    margin-left: 70px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.label-bold {
    font-size: 16px;
    font-weight: bold;
}

.form-row {
    display: flex;
    margin-bottom: 15px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #969B97;
    padding: 10px;
    color: white;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 5px;
    padding: 20px;
}

form {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    flex-grow: 1;
}

.details-row {
    display: flex;
    align-items: center;
}

textarea {
    flex-grow: 1;
    padding: 5px;
    height: 200px;
}

.form-group label {
    margin-bottom: 5px;
}

.schedule-row {
    display: flex;
    align-items: center;
}

    .schedule-row label {
        margin-right: 5px;
    }

    .schedule-row input {
        margin-right: 0px;
    }

    .schedule-row select {
        margin-left: 0px;
    }

.small-label {
    margin-right: 10px;
}

small-label label-bold1 {
    margin-right: 10px;
}

.label-bold {
    font-size: 16px;
    font-weight: bold;
}

.input-large {
    height: 15px;
    padding: 4px 8px;
    font-size: 14px;
}

.input-small {
    height: 20px;
    padding: 2px 6px;
    font-size: 12px;
}