body {
    margin: 0;
    padding: 0;
    background-color: #2E3830;
}

form {
    top: 75px;
    left: 50%;
    transform: translateX(-50%);
    width: 931px;
    height: 2400px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
    background-color: rgba(255, 252, 252, 1);
}

.text-public {
    top: 15px;
    left: 250px;
    width: 10000000px;
    height: 82px;
    font-weight: 800;
    font-size: 30px;
    display: flex;
    position: relative;
    align-items: flex-start;
    flex-shrink: 1;
    text-align: center;
}

.line {
    top: 70px;
    left: 0px;
    width: 932px;
    height: 1px;
    position: absolute;
    background-color: black;
    border-width: 2px;
    border-style: solid;
}

.text-personal {
    top: 90px;
    left: 90px;
    color: rgba(0, 0, 0, 1);
    width: 1000px;
    height: auto;
    font-weight: 800;
    font-size: 30px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
    text-align: center;
}

.text-position {
    top: 675px;
    left: 90px;
    color: rgba(0, 0, 0, 1);
    width: 1000px;
    height: auto;
    font-weight: 800;
    font-size: 30px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
    text-align: center;
}

.lineone {
    top: 150px;
    left: 49%;
    transform: translateX(-50%);
    width: 770px;
    height: 1px;
    position: absolute;
    background-color: black;
    border-width: 1px;
    border-style: solid;
}

.linetwo {
    top: 725px;
    left: 49%;
    transform: translateX(-50%);
    width: 770px;
    height: 1px;
    position: absolute;
    background-color: black;
    border-width: 1px;
    border-style: solid;
}

.name {
    top: 175px;
    left: -755px;
    color: rgba(0, 0, 0, 1);
    width: 445px;
    height: auto;
    font-weight: 700;
    font-size: 30px;
    display: flex;
    position: relative;
    align-items: flex-start;
    flex-shrink: 1;
    text-align: center;
}

.form-group-firstname {
    top: 240px;
    left: 93px;
    width: 314px;
    height: 97px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
}

.control-label-firstname {
    top: 59px;
    left: 0px;
    color: rgba(0, 0, 0, 1);
    width: 90px;
    height: auto;
    position: absolute;
    font-size: 16px;
}

.form-control-firstname {
    top: 0px;
    left: 0px;
    width: 314px;
    height: 45px;
    position: absolute;
    border-color: rgba(125, 131, 152, 0.30000001192092896);
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
}

.form-group-lastname {
    top: 240px;
    right: 100px;
    width: 314px;
    height: 97px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
}

.control-label-lastname {
    top: 59px;
    left: 0px;
    color: rgba(0, 0, 0, 1);
    width: 90px;
    height: auto;
    position: absolute;
    font-size: 16px;
}

.form-control-lastname {
    top: 0px;
    left: 0px;
    width: 314px;
    height: 45px;
    position: absolute;
    border-color: rgba(125, 131, 152, 0.30000001192092896);
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
}

.form-group-number {
    top: 390px;
    left: 93px;
    width: 314px;
    height: 97px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
}

.control-label-number {
    bottom: 110px;
    left: 0px;
    color: rgba(0, 0, 0, 1);
    width: 300px;
    height: auto;
    position: absolute;
    font-weight: 700;
    font-size: 18px;
}

.form-control-number {
    top: 0px;
    left: 0px;
    width: 314px;
    height: 45px;
    position: absolute;
    border-color: rgba(125, 131, 152, 0.30000001192092896);
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
}

.form-group-email {
    top: 390px;
    right: 100px;
    width: 314px;
    height: 97px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
}

.control-label-email {
    bottom: 110px;
    left: 0px;
    color: rgba(0, 0, 0, 1);
    width: 150px;
    height: auto;
    position: absolute;
    font-weight: 700;
    font-size: 18px;
}

.form-control-email {
    top: 0px;
    left: 0px;
    width: 314px;
    height: 45px;
    position: absolute;
    border-color: rgba(125, 131, 152, 0.30000001192092896);
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
}

.form-group-address {
    top: 500px;
    left: 93px;
    width: 314px;
    height: 97px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
}

.control-label-address {
    bottom: 110px;
    left: 0px;
    color: rgba(0, 0, 0, 1);
    width: 200px;
    height: auto;
    position: absolute;
    font-weight: 700;
    font-size: 18px;
}

.form-control-address {
    top: 0px;
    left: 0px;
    width: 740px;
    height: 45px;
    position: absolute;
    border-color: rgba(125, 131, 152, 0.30000001192092896);
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
}

.form-group-time {
    top: 610px;
    left: 93px;
    width: 314px;
    height: 97px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
}

.control-label-time {
    bottom: 110px;
    left: 0px;
    color: rgba(0, 0, 0, 1);
    width: 500px;
    height: auto;
    position: absolute;
    font-weight: 700;
    font-size: 17px;
}

.form-control-time {
    top: 0px;
    left: 0px;
    width: 314px;
    height: 45px;
    position: absolute;
    border-color: rgba(125, 131, 152, 0.30000001192092896);
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
}

.form-group-position {
    top: 785px;
    left: 93px;
    width: 314px;
    height: 97px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
}

.control-label-position {
    bottom: 110px;
    left: 0px;
    color: rgba(0, 0, 0, 1);
    width: 500px;
    height: auto;
    position: absolute;
    font-weight: 700;
    font-size: 18px;
}

.form-control-position {
    top: 0px;
    left: 0px;
    width: 314px;
    height: 45px;
    position: absolute;
    border-color: rgba(125, 131, 152, 0.30000001192092896);
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
}

.form-group-type {
    top: 785px;
    right: 100px;
    width: 314px;
    height: 97px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
}

.control-label-type {
    bottom: 110px;
    left: 0px;
    color: rgba(0, 0, 0, 1);
    width: 500px;
    height: auto;
    position: absolute;
    font-weight: 700;
    font-size: 18px;
}

.form-control-type {
    top: 0px;
    left: 0px;
    width: 314px;
    height: 45px;
    position: absolute;
    border-color: rgba(125, 131, 152, 0.30000001192092896);
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
}

.text-education {
    top: 850px;
    left: 90px;
    color: rgba(0, 0, 0, 1);
    width: 1000px;
    height: auto;
    font-weight: 800;
    font-size: 30px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
    text-align: center;
}

.straightline {
    top: 900px;
    left: 49%;
    transform: translateX(-50%);
    width: 770px;
    height: 1px;
    position: absolute;
    background-color: black;
    border-width: 1px;
    border-style: solid;
}

.form-group-school {
    top: 970px;
    left: 95px;
    width: 314px;
    height: 97px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
}

.control-label-school {
    bottom: 110px;
    left: 0px;
    color: rgba(0, 0, 0, 1);
    width: 90px;
    height: auto;
    position: absolute;
    font-weight: 700;
    font-size: 18px;
}

.form-control-school {
    top: 0px;
    left: 0px;
    width: 314px;
    height: 45px;
    position: absolute;
    border-color: rgba(125, 131, 152, 0.30000001192092896);
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
}

.form-group-department {
    top: 971px;
    right: 100px;
    width: 314px;
    height: 97px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
}

.control-label-department {
    bottom: 110px;
    left: 0px;
    color: rgba(0, 0, 0, 1);
    width: 90px;
    height: auto;
    position: absolute;
    font-weight: 700;
    font-size: 18px;
}

.form-control-department {
    top: 0px;
    left: 0px;
    width: 314px;
    height: 45px;
    position: absolute;
    border-color: rgba(125, 131, 152, 0.30000001192092896);
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
}

.form-group-achievements {
    top: 1100px;
    left: 95px;
    width: 314px;
    height: 97px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
}

.control-label-achievements {
    bottom: 110px;
    left: 0px;
    color: rgba(0, 0, 0, 1);
    width: 90px;
    height: auto;
    position: absolute;
    font-weight: 700;
    font-size: 18px;
}

.form-control-achievements {
    top: 0px;
    left: 0px;
    width: 735px;
    height: 200px;
    position: absolute;
    border-color: rgba(125, 131, 152, 0.30000001192092896);
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
}

.form-group-nameone {
    top: 1475px;
    left: 95px;
    width: 314px;
    height: 97px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
}

.control-label-nameone {
    bottom: 110px;
    left: 0px;
    color: rgba(0, 0, 0, 1);
    width: 200px;
    height: auto;
    position: absolute;
    font-weight: 700;
    font-size: 18px;
}

.form-control-nameone {
    top: 0px;
    left: 0px;
    width: 230px;
    height: 45px;
    position: absolute;
    border-color: rgba(125, 131, 152, 0.30000001192092896);
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
}

.text-references {
    top: 1340px;
    left: 95px;
    color: rgba(0, 0, 0, 1);
    width: 1000px;
    height: auto;
    font-weight: 800;
    font-size: 30px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
    text-align: center;
}

.straightlinetwo {
    top: 1400px;
    left: 49%;
    transform: translateX(-50%);
    width: 770px;
    height: 1px;
    position: absolute;
    background-color: black;
    border-width: 1px;
    border-style: solid;
}

.form-group-relationone {
    top: 1475px;
    left: 347px;
    width: 314px;
    height: 97px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
}

.control-label-relationone {
    bottom: 110px;
    left: 0px;
    color: rgba(0, 0, 0, 1);
    width: 200px;
    height: auto;
    position: absolute;
    font-weight: 700;
    font-size: 18px;
}

.form-control-relationone {
    top: 0px;
    left: 0px;
    width: 230px;
    height: 45px;
    position: absolute;
    border-color: rgba(125, 131, 152, 0.30000001192092896);
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
}

.form-group-contactone {
    top: 1475px;
    left: 600px;
    width: 314px;
    height: 97px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
}

.control-label-contactone {
    bottom: 110px;
    left: 0px;
    color: rgba(0, 0, 0, 1);
    width: 200px;
    height: auto;
    position: absolute;
    font-weight: 700;
    font-size: 18px;
}

.form-control-contactone {
    top: 0px;
    left: 0px;
    width: 230px;
    height: 45px;
    position: absolute;
    border-color: rgba(125, 131, 152, 0.30000001192092896);
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
}

.form-group-nametwo {
    top: 1590px;
    left: 95px;
    width: 314px;
    height: 97px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
}

.control-label-nametwo {
    bottom: 110px;
    left: 0px;
    color: rgba(0, 0, 0, 1);
    width: 200px;
    height: auto;
    position: absolute;
    font-weight: 700;
    font-size: 18px;
}

.form-control-nametwo {
    top: 0px;
    left: 0px;
    width: 230px;
    height: 45px;
    position: absolute;
    border-color: rgba(125, 131, 152, 0.30000001192092896);
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
}

.form-group-relationtwo {
    top: 1590px;
    left: 347px;
    width: 314px;
    height: 97px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
}

.control-label-relationtwo {
    bottom: 110px;
    left: 0px;
    color: rgba(0, 0, 0, 1);
    width: 200px;
    height: auto;
    position: absolute;
    font-weight: 700;
    font-size: 18px;
}

.form-control-relationtwo {
    top: 0px;
    left: 0px;
    width: 230px;
    height: 45px;
    position: absolute;
    border-color: rgba(125, 131, 152, 0.30000001192092896);
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
}

.form-group-contacttwo {
    top: 1590px;
    left: 600px;
    width: 314px;
    height: 97px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
}

.control-label-contacttwo {
    bottom: 110px;
    left: 0px;
    color: rgba(0, 0, 0, 1);
    width: 200px;
    height: auto;
    position: absolute;
    font-weight: 700;
    font-size: 18px;
}

.form-control-contacttwo {
    top: 0px;
    left: 0px;
    width: 230px;
    height: 45px;
    position: absolute;
    border-color: rgba(125, 131, 152, 0.30000001192092896);
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
}

.form-group-namethree {
    top: 1705px;
    left: 95px;
    width: 314px;
    height: 97px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
}

.control-label-namethree {
    bottom: 110px;
    left: 0px;
    color: rgba(0, 0, 0, 1);
    width: 200px;
    height: auto;
    position: absolute;
    font-weight: 700;
    font-size: 18px;
}

.form-control-namethree {
    top: 0px;
    left: 0px;
    width: 230px;
    height: 45px;
    position: absolute;
    border-color: rgba(125, 131, 152, 0.30000001192092896);
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
}

.form-group-relationthree {
    top: 1705px;
    left: 347px;
    width: 314px;
    height: 97px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
}

.control-label-relationthree {
    bottom: 110px;
    left: 0px;
    color: rgba(0, 0, 0, 1);
    width: 200px;
    height: auto;
    position: absolute;
    font-weight: 700;
    font-size: 18px;
}

.form-control-relationthree {
    top: 0px;
    left: 0px;
    width: 230px;
    height: 45px;
    position: absolute;
    border-color: rgba(125, 131, 152, 0.30000001192092896);
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
}

.form-group-contactthree {
    top: 1705px;
    left: 600px;
    width: 314px;
    height: 97px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
}

.control-label-contactthree {
    bottom: 110px;
    left: 0px;
    color: rgba(0, 0, 0, 1);
    width: 200px;
    height: auto;
    position: absolute;
    font-weight: 700;
    font-size: 18px;
}

.form-control-contactthree {
    top: 0px;
    left: 0px;
    width: 230px;
    height: 45px;
    position: absolute;
    border-color: rgba(125, 131, 152, 0.30000001192092896);
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
}

.text-cv {
    top: 1785px;
    left: 95px;
    color: rgba(0, 0, 0, 1);
    width: 1000px;
    height: auto;
    font-weight: 800;
    font-size: 30px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
    text-align: center;
}

.straightlinethree {
    top: 1845px;
    left: 49%;
    transform: translateX(-50%);
    width: 770px;
    height: 1px;
    position: absolute;
    background-color: black;
    border-width: 1px;
    border-style: solid;
}

.form-group-cv {
    top: 1925px;
    left: 95px;
    width: 314px;
    height: 97px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
}

.control-label-cv {
    bottom: 110px;
    left: 0px;
    color: rgba(0, 0, 0, 1);
    width: 300px;
    height: auto;
    position: absolute;
    font-weight: 700;
    font-size: 18px;
}

.form-control-cv {
    top: 0px;
    left: 0px;
    width: 735px;
    height: 300px;
    position: absolute;
    border-color: rgba(125, 131, 152, 0.30000001192092896);
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
}

.btn-primary {
    top: 2275px;
    left: 610px;
    width: 200px;
    height: 40px;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #C53211;
    text-align: center;
    border-radius: 5px;
    z-index: 5;
}

.btn-primary:hover {
    background-color: rgba(46, 56, 48, 1);
    color: white;
    text-align: center;
}

.form-group-next {
    top: 5px;
    left: -910px;
    width: 500px;
    display: flex;
    position: relative;
    align-items: flex-start;
    text-align: center;
}

.triangle {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 0;
    height: 0;
    z-index: -1;
    border-bottom: 150px solid #c53211;
    border-left: 150px solid transparent;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 10));
}

.triangle2 {
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    z-index: -1;
    border-top: 150px solid #c53211;
    border-right: 150px solid transparent;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 10));
}