.body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.form-group-instructions {
    top: 30px;
    left: 550px;
    width: 1000px;
    height: 82px;
    font-weight: 800;
    font-size: 30px;
    display: flex;
    position: relative;
    align-items: flex-start;
    flex-shrink: 1;
}

.form-group-firstname {
    top: 35px;
    left: 550px;
    width: 314px;
    height: 82px;
    display: flex;
    position: relative;
    align-items: flex-start;
    flex-shrink: 1;
}

.form-control-firstname {
    top: 37px;
    left: 0px;
    width: 314px;
    height: 45px;
    position: absolute;
    border-style: solid;
}

.text-danger-firstname {
    top: 1px;
    left: 2px;
    color: rgba(0, 0, 0, 1);
    width: 90px;
    height: auto;
    position: absolute;
    font-size: 16px;
    text-align: left;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
}

.form-group-lastname {
    top: -48px;
    left: 950px;
    width: 314px;
    height: 82px;
    display: flex;
    position: relative;
    align-items: flex-start;
    flex-shrink: 1;
}

.form-control-lastname {
    top: 37px;
    left: 0px;
    width: 314px;
    height: 45px;
    position: absolute;
    border-style: solid;
}

.text-danger-lastname {
    left: 2px;
    color: rgba(0, 0, 0, 1);
    height: auto;
    position: absolute;
    font-size: 16px;
    text-align: left;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
}

.form-group-emailaddress {
    top: -10px;
    left: 550px;
    width: 692px;
    height: 82px;
    display: flex;
    position: relative;
    align-items: flex-start;
    flex-shrink: 1;
}

.form-control-emailaddress {
    top: 37px;
    left: 0px;
    width: 715px;
    height: 45px;
    position: absolute;
}

.text-danger-emailaddress {
    left: 2px;
    color: rgba(0, 0, 0, 1);
    height: auto;
    position: absolute;
    font-size: 16px;
    text-align: left;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
}

.form-group-contactnumber {
    top: 30px;
    left: 550px;
    width: 314px;
    height: 82px;
    display: flex;
    position: relative;
    align-items: flex-start;
    flex-shrink: 1;
}

.form-control-contactnumber {
    top: 37px;
    left: 0px;
    width: 314px;
    height: 45px;
    position: absolute;
}

.text-danger-contactnumber {
    left: 2px;
    color: rgba(0, 0, 0, 1);
    height: auto;
    position: absolute;
    font-size: 16px;
    text-align: left;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
}

.form-group-address {
    top: -53px;
    left: 963px;
    width: 314px;
    height: 82px;
    display: flex;
    position: relative;
    align-items: flex-start;
    flex-shrink: 1;
}

.form-control-address {
    top: 37px;
    left: 0px;
    width: 305px;
    height: 45px;
    position: absolute;
}

.text-danger-address {
    left: 2px;
    color: rgba(0, 0, 0, 1);
    height: auto;
    position: absolute;
    font-size: 16px;
    text-align: left;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
}

.form-group-username {
    top: -15px;
    left: 550px;
    width: 314px;
    height: 82px;
    display: flex;
    position: relative;
    align-items: flex-start;
    flex-shrink: 1;
}

.form-control-username {
    top: 37px;
    left: 0px;
    width: 314px;
    height: 45px;
    position: absolute;
}

.text-danger-username {
    left: 2px;
    color: rgba(0, 0, 0, 1);
    height: auto;
    position: absolute;
    font-size: 16px;
    text-align: left;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
}

.form-group-password {
    bottom: 99px;
    left: 963px;
    width: 314px;
    height: 82px;
    display: flex;
    position: relative;
    align-items: flex-start;
    flex-shrink: 1;
}

.form-control-password {
    top: 37px;
    left: 0px;
    width: 305px;
    height: 45px;
    position: absolute;
}

.text-danger-password {
    left: 2px;
    color: rgba(0, 0, 0, 1);
    height: auto;
    position: absolute;
    font-size: 16px;
    text-align: left;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
}

.form-group-confirmpassword {
    bottom: 57px;
    left: 550px;
    width: 314px;
    height: 82px;
    display: flex;
    position: relative;
    align-items: flex-start;
    flex-shrink: 1;
}

.form-control-confirmpassword {
    top: 37px;
    left: 0px;
    width: 314px;
    height: 45px;
    position: absolute;
}

.text-danger-confirmpassword {
    left: 2px;
    color: rgba(0, 0, 0, 1);
    height: auto;
    position: absolute;
    font-size: 16px;
    text-align: left;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
}

.form-group-role {
    top: -140px;
    left: 963px;
    width: 167px;
    height: 82px;
    display: flex;
    position: relative;
    align-items: flex-start;
    flex-shrink: 1;
}

.form-control-role {
    top: 37px;
    left: 0px;
    width: 305px;
    height: 45px;
    position: absolute;
}

.text-danger-role {
    left: 2px;
    color: rgba(0, 0, 0, 1);
    height: auto;
    position: absolute;
    font-size: 16px;
    text-align: left;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
}

.form-group-terms {
    top: -100px;
    left: 550px;
    width: 250px;
    height: 15px;
    display: flex;
    position: relative;
    align-items: flex-start;
    flex-shrink: 1;
}

.form-check-input-terms {
    top: 2px;
    left: 0px;
    width: 14px;
    height: 14px;
    position: absolute;
}

.form-check-label-terms {
    top: 1.1px;
    left: 30px;
    color: rgba(0, 0, 0, 1);
    height: auto;
    position: absolute;
    font-size: 13.75px;
    text-align: left;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
}

.form-group-signup {
    top: -60px;
    left: 550px;
    width: 900px;
    display: flex;
    position: relative;
    align-items: flex-start;
    text-align: center;
}

.btn {
    top: 0px;
    left: -3px;
    width: 223px;
    text-align: center;
    height: 40px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
    justify-content: center;
    color: white;
    background-color: rgba(46, 56, 48, 1);
}

.btn:hover {
    background-color: #C53211;
    color: white;
}

.signup-form-side {
    top: 0px;
    left: 0px;
    width: 505px;
    height: 1024px;
    display: flex;
    position: fixed;
    align-items: flex-start;
    flex-shrink: 1;
    background-color: rgba(197, 50, 17, 1);
}

.text {
    top: 151px;
    left: 170px;
    color: rgba(230, 219, 201, 1);
    height: auto;
    position: relative;
    font-size: 32px;
    text-align: left;
    font-family: Inter;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
    overflow: hidden;
    justify-content: center;
}

.text-two {
    top: 235px;
    left: -35px;
    color: rgba(230, 219, 201, 1);
    height: auto;
    position: relative;
    font-size: 32px;
    text-align: left;
    font-family: Inter;
    font-weight: 300;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
    overflow: hidden;
    justify-content: center;
}

.image-container-one {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.image {
    top: 200px;
    left: 0px;
    width: 506px;
    height: 611px;
    position: relative;
    object-fit: cover;
}

.image-two {
    top: 550px;
    left: 135px;
    width: 171px;
    height: 47px;
    position: absolute;
    justify-content: center;
}

.triangle1 {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 0;
    height: 0;
    z-index: -1;
    border-bottom: 250px solid #2E3830;
    border-left: 250px solid transparent;
    box-shadow: inset 0 0 20px rgba(0, 0, 0, 10);
}

.triangle {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 0;
    height: 0;
    border-bottom: 150px solid #c53211;
    border-left: 150px solid transparent;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 10));
}

.hasAccount {
    top: 15px;
    left: 546px;
    width: 900px;
    display: flex;
    position: relative;
    align-items: flex-start;
    text-align: center;
}