body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e6dbc9;
}

h2 {
    color: #333;
}

hr {
    border: 2px solid black;
    margin: 0 auto;
    width: 100%;
    margin-bottom: 10px;
}

form {
    background-color: #FFFFFF;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    max-width: 80%;
    height: 550px;
    margin: 20px auto;
}

.form-group {
    margin-bottom: 20px;
}

.control-label {
    display: block;
    font-weight: bold;
}

.input-group {
    position: relative;
}

/* Form Input Styles */
.form-control {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Validation Error Styles */
.text-danger {
    color: #dc3545;
    font-size: 14px;
    display: block;
    margin-top: 5px;
}

.text-danger {
    color: #dc3545;
    font-size: 14px;
}

.triangle1 {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 0;
    z-index: -1;
    border-bottom: 250px solid #2E3830;
    border-left: 250px solid transparent;
    box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.1);
}

.triangle {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 0;
    border-bottom: 150px solid #C53211;
    border-left: 150px solid transparent;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.1));
}
