@model Basecode.Data.ViewModels.PublicApplicationFormViewModel

@{
    ViewData["Title"] = "Public Application Form";
}

<div class="row">
    <link rel="stylesheet" href="~/css/publicapplicationform.css" />
    <meta name="viewport" content="initial-scale = 1.0,maximum-scale = 1.0" />
    <div class="col-md-4">
        <form asp-controller="PublicApplicationForm" asp-action="IndexTwo">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div className="container">
                <div class="title">
                    <label class="text">Public Job Application Form</label>
                </div>
                <div class="line"></div>
                <div class="info">
                    <label class="text">Personal Information</label>
                </div>
                <div class="lineone"></div>
                <div class="name">
                    <label class="text">Name</label>
                </div>
                <div class="form-group-firstname">
                    <label asp-for="FirstName" class="control-label-firstname">First Name</label>
                    <input asp-for="FirstName" class="form-control-firstname" placeholder="First Name" />
                    <span asp-validation-for="FirstName" class="text-danger-firstname"></span>
                </div>
                <div class="form-group-lastname">
                    <label asp-for="LastName" class="control-label-lastname">Last Name</label>
                    <input asp-for="LastName" class="form-control-lastname" placeholder="Last Name" />
                    <span asp-validation-for="LastName" class="text-danger-lastname"></span>
                </div>
                <div class="form-group-number">
                    <label asp-for="PhoneNumber" class="control-label-number">Phone Number</label>
                    <input asp-for="PhoneNumber" class="form-control-number" placeholder="(000) 000-0000" />
                    <span asp-validation-for="PhoneNumber" class="text-danger-number"></span>
                </div>
                <div class="form-group-email">
                    <label asp-for="EmailAddress" class="control-label-email">Email Address</label>
                    <input asp-for="EmailAddress" class="form-control-email" placeholder="example@example.com" />
                    <span asp-validation-for="EmailAddress" class="text-danger-email"></span>
                </div>
                <div class="form-group-address">
                    <label asp-for="Address" class="control-label-address">Complete Address</label>
                    <input asp-for="Address" class="form-control-address" placeholder="Full Address Details" />
                    <span asp-validation-for="Address" class="text-danger-address"></span>
                </div>
                <div class="form-group-time">
                    <label asp-for="Time" class="control-label-time">What is the best time to contact you?</label>
                    <select asp-for="Time" class="form-control-time">
                        <option value="" disabled selected>Please Select a Time</option>
                        <option value="Morning">Morning</option>
                        <option value="Afternoon">Afternoon</option>
                        <option value="Evening">Evening</option>
                        <option value="Doesn't Matter">Doesn't Matter</option>
                    </select>
                    <span asp-validation-for="Time" class="text-danger-time"></span>
                </div>
                <div class="position">
                    <label class="text">Position Information</label>
                </div>
                <div class="linetwo"></div>
                <div class="form-group-position">
                    <label asp-for="PositionType" class="control-label-position">What position are you applying for?</label>
                    <select asp-for="PositionType" class="form-control-position">
                        <option value="" disabled selected>Please Select a Position</option>
                        <option value="Sales">Sales</option>
                        <option value="Marketing">Marketing</option>
                        <option value="Human Resources">Human Resources</option>
                        <option value="IT">IT</option>
                        <option value="Customer Service">Customer Service</option>
                    </select>
                    <span asp-validation-for="PositionType" class="text-danger-position"></span>
                </div>
                <div class="form-group-type">
                    <label asp-for="EmploymentType" class="control-label-type">What is your desired employment?</label>
                    <select asp-for="EmploymentType" class="form-control-type">
                        <option value="" disabled selected>Please Select a Desired Employment</option>
                        <option value="Full Time">Full Time</option>
                        <option value="Part Time">Part Time</option>
                        <option value="Internship">Internship</option>
                    </select>
                    <span asp-validation-for="EmploymentType" class="text-danger-type"></span>
                </div>
                <div class="form-group-next">
                    <button type="submit" class="btn-primary">Next</button>
                </div>
                <div class="triangle"></div>
                <div class="triangle1"></div>
                <div class="triangle2"></div>
                <div class="triangle3"></div>
            </div>
        </form>
    </div>
</div>