@using Basecode.Data.ViewModels
@model JobOpeningViewModel

@{
    ViewData["Title"] = "Job Posting Update";
    Layout = "~/Views/Shared/_LayoutHR.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job Posting - Update</title>
    <link rel="stylesheet" href="~/css/jobpostingupdate.css" asp-append-version="true" />
</head>
<body>
    <form asp-action="UpdateAdminJob">
        <h2>EDIT JOB INFORMATION</h2>
        <hr>

        <div class="half-width job-posting">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />
        <div class="form-group">
            <label for="position" class="label-bold">Position:</label>
            <br>
            <input asp-for="Position" placeholder="Enter position" class="input-large">
            <span asp-validation-for="Position" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label for="job-type" class="label-bold">Job Type:</label>
            <br>
            <input asp-for="JobType" placeholder="Enter Job Type" class="input-large">
            <span asp-validation-for="JobType" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label for="salary" class="label-bold">Salary:</label>
            <br>
            <input asp-for="Salary" placeholder="Enter salary" class="input-large">
            <span asp-validation-for="Salary" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label for="schedule" class="label-bold">Schedule:</label>
            <br>
            <div class="schedule-input-group">
                <label for="hours" class="small-label">Hours:</label>
                <input asp-for="Hours" placeholder="Input number of Hours" class="input-schedule">
                <span asp-validation-for="Hours" class="text-danger"></span>
            </div>
                <div class="schedule-input-group">
                    <label for="shift" class="small-label">Shift:</label>
                    <select asp-for="Shift" class="input-schedule">
                        <option value="" disabled selected>Choose Shift</option>
                        <option value="Morning">Morning</option>
                        <option value="Night">Night</option>
                    </select>
                    <span asp-validation-for="Shift" class="text-danger"></span>
                </div>
        </div>
    </div>

    <div class="half-width job-posting">
        <div class="form-group">
            <label for="details" class="label-bold-description">Description:</label>
            <br>
            <textarea asp-for="Description" id="description" placeholder="Job description" class="input-description"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="button-container">
            <button type="submit" class="btn">Update Job</button>
        </div>
    </div>
        @section Scripts {
            @{
                await Html.RenderPartialAsync("_ValidationScriptsPartial");
            }
        }
    </form>
    <div class="triangle"></div>
    <div class="triangle1"></div>
</body>
</html>