@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_NoLayout.cshtml";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <link rel="stylesheet" href="~/css/signup.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.13/jquery.validate.unobtrusive.min.js"></script>
    <div class="col-md-4">
        @if (TempData["SuccessMessage"] != null)
        {
            <div id="successMessage" class="popup-message">
                <span>@TempData["SuccessMessage"]</span>
            </div>
        }
        <form id="signupForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group-instructions">
                <label class="form-check-instructions">Please fill in the necessary information below.</label>
            </div>
            <div class="form-group-firstname">
                <label asp-for="Input.FirstName" class="control-label-firstname">First Name</label>
                <input asp-for="Input.FirstName" class="form-control-firstname" placeholder="First Name" />
                <span asp-validation-for="Input.FirstName" class="text-danger-firstname"></span>
            </div>
            <div class="form-group-lastname">
                <label asp-for="Input.LastName" class="control-label">Last Name</label>
                <input asp-for="Input.LastName" class="form-control-lastname" placeholder="Last Name" />
                <span asp-validation-for="Input.LastName" class="text-danger-lastname"></span>
            </div>
            <div class="form-group-emailaddress">
                <label asp-for="Input.Email" class="control-label">Email Address</label>
                <input asp-for="Input.Email" id="emailInput" class="form-control-emailaddress" placeholder="Email Address" />
                <span asp-validation-for="Input.Email" class="text-danger-emailadress"></span>
            </div>
            <div class="form-group-contactnumber">
                <label class="control-label">Contact Number</label>
                <input class="form-control-contactnumber" placeholder="Contact Number" />
                <span  class="text-danger-contactnumber"></span>
            </div>
            <div class="form-group-address">
                <label asp-for="Input.Address" class="control-label"></label>
                <input asp-for="Input.Address" class="form-control-address" placeholder="Address" />
                <span asp-validation-for="Input.Address" class="text-danger-address"></span>
            </div>
            <div class="form-group-username">
                <label asp-for="Input.Username" class="control-label"></label>
                <input name="Username" asp-for="Input.Username" id="usernameInput" class="form-control-username" placeholder="Username" readonly/>
                <span asp-validation-for="Input.Username" class="text-danger-username"></span>
            </div>

            <div class="form-group-password">
                <label asp-for="Input.Password" class="control-label"></label>
                <input type="password" asp-for="Input.Password" class="form-control-password" placeholder="Password" />
                <span asp-validation-for="Input.Password" class="text-danger-password"></span>
            </div>

            <div class="form-group-confirmpassword">
                <label asp-for="Input.ConfirmPassword" class="control-label">Confirm Password</label>
                <input type="password" asp-for="Input.ConfirmPassword" class="form-control-confirmpassword" placeholder="Confirm Password" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger-confirmpassword"></span>
            </div>
            <div class="form-group-terms">
                <input type="checkbox" id="terms-checkbox" class="form-check-input-terms" />
                <label for="terms-checkbox" class="form-check-label-terms">I accept the Terms and Conditions</label>
                <span id="terms-validation-error" class="text-danger-terms"></span>
            </div>
            <div class="form-group-signup">
                <button type="submit" class="btn">Sign Up</button>
            </div>
        </form>

        <div class="signup-form-side">
            <span class="text"><span>Sign Up</span></span>
            <span class="text-two">
                <span>We are glad to see you!</span>
            </span>
            <div class="image-container-one">
                <img alt="image" src="~/signupimages/building.jpg" class="image" />
                <img alt="image-two" src="~/signupimages/logo.jpg" class="image-two" />
            </div>
        </div>
        <div class="hasAccount">
            <label class="form-check-label" for="flexCheckDefault">
                Already have an account? <a asp-page="/Account/Login"><u>Login here.</u></a>
            </label>
        </div>
        <div class="triangle"></div>
        <div class="triangle1"></div>
    </div>
</div>

<script>
    $(document).ready(function () {
        // Get references to the email and username input fields
        const emailInput = $('#emailInput');
        const usernameInput = $('#usernameInput');

        // Set the initial value of the username field to be the same as the email field
        usernameInput.val(emailInput.val());

        // Listen for changes in the email input field
        emailInput.on('input', function () {
            // Update the value of the username field whenever the email field changes
            usernameInput.val($(this).val());
        });

        var successMessage = $('#successMessage');
        if (successMessage.length > 0) {
            successMessage.fadeIn('fast').delay(3000).fadeOut('fast', function () {
                // Redirect to the login page after the fade out animation
                window.location.href = '@Url.Action("Index", "Login")';
            });
        }

        function showPopupMessage(message) {
            var popupMessage = $('<div class="message">' + message + '</div>');
            $('body').append(popupMessage);
            popupMessage
                .fadeIn('fast')
                .delay(3000)
                .fadeOut('fast', function () {
                    $(this).remove();
                });
        }
    });
</script>