<!DOCTYPE html>
<html>
<head>
    <title>Character Reference Form</title>
    <link rel="stylesheet" href="~/css/characterreference.css" asp-append-version="true" />
</head>
<body>
    <form id="character-reference-form" asp-action="Page2" asp-controller="CharacterReference">
        <div class="page" id="page1">
        <h1>Character Reference Form</h1>

        <h2>Thanks for completing this form. We'd want to learn more about the qualifications
            character, and work ethics of the job applicant you're willing to recommend.</h2>
        <hr>

        <div>
            <h3 class="section-title">Candidate's Personal Information</h3>
            <hr class="divider">
            <h4 class="section-title1">Candidate's Name</h4>
            <div class="input-group">
                <input type="text" id="first-name" class="text-input">
                <br>
                <label for="first-name">First Name</label>
            </div>
            <div class="input-group">
                <input type="text" id="last-name" class="text-input">
                <br>
                <label for="last-name">Last Name</label>
            </div>
            <div class="input-group">
                <h4 class="section-title2">Applying for the position of:</h4>
                <input type="text" id="position" class="text-input">
            </div>
            <div class="input-group">
                <h4 class="section-title2">How long have you known this person?</h4>
                <input type="text" id="known" class="text-input">
            </div>
            <div class="input-group">
                <label for="candidate">Tell us about your relationship to the person above.</label>
                <textarea id="candidate" class="candidate-textarea"></textarea>
                <label for="candidate">What would you say about this person's character and work ethics?</label>
                <textarea id="candidate" class="candidate-textarea"></textarea>
                <label for="candidate">What qualifications and soft skills do you think this person possesses?</label>
                <textarea id="candidate" class="candidate-textarea"></textarea>
            </div>
                <button type="submit" class="submit-button">Next</button>
        </div> 
    </div>
    </form>
    <div class="triangle"></div>
    <div class="triangle1"></div>
</body>
</html>
