<!DOCTYPE html>
<html>
<head>
    <title>Character Reference Form</title>
    <link rel="stylesheet" href="~/css/characterreference.css" asp-append-version="true" />
</head>
<body>
    <form id="character-reference-form-page2">
        <div class="page" id="page1">
            <h1>Character Reference Form</h1>

            <h2>
                Thanks for completing this form. We'd want to learn more about the qualifications
                character, and work ethics of the job applicant you're willing to recommend.
            </h2>
            <hr>

            <div>
                <h3 class="section-title">Personal Information</h3>
                <hr class="divider">
                    <h4 class="section-title1">Your Name</h4>
                <div class="input-group">
                    <input type="text" id="first-name" class="text-input">
                    <br>
                    <label for="first-name">First Name</label>
                </div>
                <div class="input-group">
                    <input type="text" id="last-name" class="text-input">
                    <br>
                    <label for="last-name">Last Name</label>
                </div>
                <div class="input-group">
                    <h4 class="section-title2">Your Current Job Title</h4>
                    <input type="text" id="position" class="text-input">
                </div>
                <div class="input-group">
                    <h4 class="section-title2">How you worked with this person?</h4>
                    <input type="radio" id="known-yes" name="known" value="yes">
                    <label for="known-yes">Yes</label>
                    <input type="radio" id="known-no" name="known" value="no">
                    <label for="known-no">No</label>
                </div>
                <div class="input-group">
                    <label for="candidate">Why should we hire this person?</label>
                    <textarea id="candidate" class="candidate-textarea"></textarea>
                </div>
                <button type="submit" class="submit-button">Submit</button>
                <a asp-action="Index" asp-controller="CharacterReference">
                    <button type="button" class="back-button">Back</button>
                </a>
            </div>
        </div>
    </form>
    <div class="triangle"></div>
    <div class="triangle1"></div>
</body>
</html>
