@using Basecode.Data.ViewModels
@model SignUpViewModel

@{
    ViewData["Title"] = "Sign Up";
}

<div class="row">
    <link rel="stylesheet" href="~/css/signup.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.13/jquery.validate.unobtrusive.min.js"></script>
    <div class="col-md-4">
        @if (TempData["SuccessMessage"] != null)
        {
            <div id="successMessage" class="popup-message">
                <span>@TempData["SuccessMessage"]</span>
            </div>
        }
        <form id="signupForm" asp-controller="SignUp" asp-action="CreateAccount">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group-instructions">
                <label class="form-check-instructions">Please fill in the necessary information below.</label>
            </div>
            <div class="form-group-firstname">
                <label asp-for="FirstName" class="control-label-firstname">First Name</label>
                <input asp-for="FirstName" class="form-control-firstname" placeholder="First Name" />
                <span asp-validation-for="FirstName" class="text-danger-firstname"></span>
            </div>
            <div class="form-group-lastname">
                <label asp-for="LastName" class="control-label">Last Name</label>
                <input asp-for="LastName" class="form-control-lastname" placeholder="Last Name" />
                <span asp-validation-for="LastName" class="text-danger-lastname"></span>
            </div>
            <div class="form-group-emailaddress">
                <label asp-for="EmailAddress" class="control-label">Email Address</label>
                <input asp-for="EmailAddress" class="form-control-emailaddress" placeholder="Email Address" />
                <span asp-validation-for="EmailAddress" class="text-danger-emailadress"></span>
            </div>
            <div class="form-group-contactnumber">
                <label asp-for="ContactNumber" class="control-label">Contact Number</label>
                <input asp-for="ContactNumber" class="form-control-contactnumber" placeholder="Contact Number" />
                <span asp-validation-for="ContactNumber" class="text-danger-contactnumber"></span>
            </div>
            <div class="form-group-address">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control-address" placeholder="Address" />
                <span asp-validation-for="Address" class="text-danger-address"></span>
            </div>
            <div class="form-group-username">
                <label asp-for="Username" class="control-label"></label>
                <input name="Username" asp-for="Username" class="form-control-username" placeholder="Username" />
                <span asp-validation-for="Username" class="text-danger-username"></span>
            </div>
            <div class="form-group-password">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control-password" placeholder="Password" />
                <span asp-validation-for="Password" class="text-danger-password"></span>
            </div>
            <div class="form-group-confirmpassword">
                <label asp-for="ConfirmPassword" class="control-label">Confirm Password</label>
                <input asp-for="ConfirmPassword" class="form-control-confirmpassword" placeholder="Confirm Password" />
                <span asp-validation-for="ConfirmPassword" class="text-danger-confirmpassword"></span>
            </div>
            <div class="form-group-role">
                <label asp-for="Role" class="control-label"></label>
                <select asp-for="Role" class="form-control-role">
                    <option value="" disabled selected>Choose a role</option>
                    <option value="HR">HR</option>
                    <option value="Applicant">Applicant</option>
                </select>
                <span asp-validation-for="Role" class="text-danger-role"></span>
            </div>
            <div class="form-group-terms">
                <input type="checkbox" id="terms-checkbox" class="form-check-input-terms" />
                <label for="terms-checkbox" class="form-check-label-terms">I accept the Terms and Conditions</label>
                <span id="terms-validation-error" class="text-danger-terms"></span>
            </div>
            <div class="form-group-signup">
                <button type="submit" class="btn">Sign Up</button>
            </div>
        </form>

        <div class="signup-form-side">
            <span class="text"><span>Sign Up</span></span>
            <span class="text-two">
                <span>We are glad to see you!</span>
            </span>
            <div class="image-container-one">
                <img alt="image" src="~/signupimages/building.jpg" class="image" />
                <img alt="image-two" src="~/signupimages/logo.jpg" class="image-two" />
            </div>
        </div>
        <div class="hasAccount">
            <label class="form-check-label" for="flexCheckDefault">
                Already have an account? <a asp-controller="Login" asp-action="Index"><u>Login here.</u></a>
            </label>
        </div>
        <div class="triangle"></div>
        <div class="triangle1"></div>
    </div>
</div>

<script>
    $(document).ready(function () 
    {
        var successMessage = $('#successMessage');
        if (successMessage.length > 0) 
        {
            successMessage.fadeIn('fast').delay(3000).fadeOut('fast', function () 
            {
                // Redirect to the login page after the fade out animation
                window.location.href = '@Url.Action("Index", "Login")';
            });
        }
        // Delay the form submission after showing the popup message
        $('#signupForm').submit(function (event) 
        {
            event.preventDefault(); // Prevent the default form submission
            var form = this;
            var fields = ['FirstName', 'LastName', 'EmailAddress', 'ContactNumber', 'Address', 'Username', 'Password', 'ConfirmPassword', 'Role'];
            var emptyFields = [];

            for (var i = 0; i < fields.length; i++) 
            {
                var fieldValue = $('#' + fields[i]).val();
                if (!fieldValue) 
                {
                    emptyFields.push(fields[i]);
                }
            }

            if (emptyFields.length > 0) 
            {
                var message = "Please fill in the following field/s: " + emptyFields.join(", ") + " to proceed with creating your account.";
                showPopupMessage(message);
                return; // Stop further validation checks if empty fields exist
            }

            var password = $('#Password').val();
            var confirmPassword = $('#ConfirmPassword').val();

            if (password !== confirmPassword) 
            {
                showPopupMessage("Password and Confirm Password fields should have the same value/s.");
                return; // Stop further validation checks if passwords do not match
            }

            var termsCheckbox = $('#terms-checkbox');
            var termsValidationError = $('#terms-validation-error');

            if (!termsCheckbox.prop('checked')) 
            {
                showPopupMessage("Please accept/check the terms and conditions first before creating an account.");
                return; // Stop further validation checks if terms are not accepted
            } 
            else 
            {
                termsValidationError.empty();
            }

            // Proceed with form submission after all validations pass
            form.submit();
        });

        function showPopupMessage(message) 
        {
            var popupMessage = $('<div class="message">' + message + '</div>');
            $('body').append(popupMessage);
            popupMessage
                .fadeIn('fast')
                .delay(3000)
                .fadeOut('fast', function () 
                {
                    $(this).remove();
                });
        }
    });
</script>
