@{
    ViewData["Title"] = "Applicant Homepage";
    Layout = "~/Views/Shared/_LayoutHR.cshtml";
}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="~/css/applicanthomepage.css" />
    </head>
    <body>
        <div class="container mt-5 mb-3">
            <div class="row"> 
                <div class="col-md-4">
                    <div class="card p-3 mb-2"> 
                        <div class="mt-5 mb-5">
                                 <h5 class="card-title">Programmer</h5>
                                 <h6 class="card-subtitle mb-2 text-muted">Full Time &#8369;10,000 8hrs Day Shift</h6>
                                 <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <button class="btn text-light" style="background-color:#c53211">Apply Now!</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
